# Assignement 2

Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (10 points)

In [1]:
# Can your print the letters of Agriculture by using for loops. Your output will look like this:
# A
# g
# r
# i
# c
# u
# l
# t
# u
# r
# e

## Your code here - down ##
agriculture = "Agriculture"
for i in agriculture:
    print(i)
## Your code here - up ##

A
g
r
i
c
u
l
t
u
r
e

## Question 2 (40 Points)

In [2]:
# Find the sum of numbers from 1 to 50(including) by using for loops.

## Your code here - down ##
sum = 0
for i in range(1,51):
    sum += i
print(sum)
## Your code here - up ##

1275

## Question 3 (50 points)

In [4]:
# Now let's find sum of even and odd numbers from 1 to 50 (including). Are the results same?

# Sum of even  numbers

## Your code here - down ##
even_sum = 0
odd_sum = 0
for i in range(1,51):
    if i%2 == 0:
        even_sum += i
    else:
        odd_sum += i
print(even_sum)
print(odd_sum)
## Your code here - up ##

650
625

In [ ]:
No, they the results are not same

In [5]:
# Sum of odd numbers

## Your code here - down ##
odd_sum = 0
for i in range(1,51):
    if i%2 != 0:
        odd_sum += i
print(odd_sum)
## Your code here - up ##

625

In [7]:
# In this cell explain the difference.
the difference between the sum of even numbers and the sum of odd numbers from 1 to 50 (including) is that the even  numbers are 
the numbers that are divisible by 2 where, odd numbers are the numbers that are not divisible by 2. when we add all the even numbers, 
we get 650 and when we add all the odd numbers, we get 625. The difference between the two is 25 
because even numbers and odd numbers have different values.